body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('images/Yaoi.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
}
